body{
    font-family: 'Poppins', sans-serif;
    margin:  0%;
}
h1{
    font-size: 50px;
}
.half-width{
    width: 40%;
    padding: 80px 50px;
}
section{
    display: flex;
    
}
.orange-color{
    color: orange;
    
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(tomato, orange);
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
    font-weight: 700;

}
.top-banner{
    background-image:url(shapes/Frame\ 58.jpg);
    ;
    background-repeat: no-repeat;
    background-size: cover;
    
}